---
layout: page
title: "About"
description: "All my life is about funny."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>
<br>
<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <!--blockquote></blockquote-->
	<strong>关于我</strong>
	<br>

　　Mr.Dong：比较像80后的90后。在北京邮电大学计算机科学与技术专业攻读工学硕士期间的专业方向为网络技术。曾作先后在华为北研所IP研发部和小米公司云平台部门实习软件研发攻城师。关注云计算和SDN技术，对Linux、Docker和Cloud Foundry等相关技术有兴趣。

　　  <br>

　　2016年4月毕业之后，加入京东集团云平台部门，目前还是职场菜鸟一枚。
	<br><br>
	
	<strong>关于该网站</strong>
	<br>

　　入职前的三个月，被生活琐事缠身，每天应接不暇。100天下来，突然发现从技术上和工作上都落下太多，陷入对前途的深深不安之中。希望藉由此网站，记录学习和工作，乃至生活中的一些收获与进步。

	<br>

</div>

<!-- English Version -->
<div class="en post-container">
    <!--blockquote></blockquote-->
	<strong>About Me</strong>
	<br>

　　Mr.Dong：Born in 1990s.Majored in computer science and technology and graduated from Beijing University of Posts and Telecommunications with a master's degree.The research direction during the period is Network technology.Has been as SDE intern in IP R&D Department of Beijing Research Institute of HUAWEI Inc. and Cloud Platform Department of Mi.com.Focus on Cloud Computing Tecnologies and SDN.Interest in Linux, Docker, Cloud Foundry etc.

　　  <br>

　　After graduation in April 2016, joined the Cloud Platform Department of JD.com. At present is still a rookie in the workplace.  
	<br><br>
	
	<strong>About this website</strong>
	<br>

　　{TODO}
	<br>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
