---
layout: default
section-type: index
description: "Go Big or Go Home!"
footer: false
---

<style type="text/css">
html{
	height:100%;
}
body{
	overflow-x:hidden;
	overflow-y:hidden;
	height:100%;
}
header{
	height:100%;
}
.intro-text{
	font-size:18px;
}
</style>

<!-- Page Header -->
<header id="header" class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
					<h1 class="brand-heading">&nbsp;</h1>
					<h1 class="brand-heading">&nbsp;</h1>
					<span class="intro-text">{{ content }}</span>
					<h5>&nbsp;</h5>
					<a href="#{{ site.pages_list['About'] }}" class="page-scroll">
						<img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
					</a>
                </div>
            </div>
        </div>
    </div>
</header>

{% include js.html %}
