---
layout: page
title: Tools
description: "All Tools"
header-img: img/page-bg-js-module.jpg
---

{% for page in site.pages %}{% if page.tags contains "tools" %}
<div class="page-preview">
    <a href="{{ page.url }}">
        <h2 class="page-title">
            {{ page.title }}
        </h2>
        {% if page.description %}
        <h3 class="page-subtitle">
            {{ page.description }}
        </h3>
        {% endif %}
    </a>
    <p class="page-meta">
        pageed by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endif %}{% endfor %}

