---
layout: page
title: Tools
description: "All Tools"
header-img: img/post-bg-js-module.jpg
---

{% for page in site.pages %}{% if page.tags contains "tools" %}
<div class="post-preview">
    <a href="{{ page.url }}">
        <h2 class="post-title">
            {{ page.title }}
        </h2>
        {% if page.description %}
        <h3 class="post-subtitle">
            {{ page.description }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endif %}{% endfor %}

